/*Colour vars*/
:root {
    --Main-bg: #ededed;
    --TopBot: #4c8f96;
    --TL: #1c2136;
}

/*Global styles*/
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

/*Nav*/
.Nav-bar {
    width: 100%;
    background-color: var(--TopBot);
    position: relative;
    height: 100px;

    &>h1 {
        background-color: var(--TL);
        width: 20%;
        text-align: center;
        color: white;
        height: 70px;
        padding-top: 15px;
        position: absolute;
        left: 4%;
        bottom: -5%;
    }


    &>nav ul {
        display: flex;
        flex-direction: row;
        width: 75%;
        justify-content: center;
        justify-self: right;

        &>li {
            background-color: var(--TL);
            width: 10%;
            margin-left: 10px;
            list-style: none;
            text-align: center;
            height: 30px;
            margin-top: 50px;
            border-radius: 10%;
            padding-top: 7px;

            &>a {
                text-decoration: none;
                color: white;
            }

            &>li:hover,
            a:hover {
                opacity: 0.7;
                cursor: pointer;
            }
        }
    }



}

/*Mid div*/
.Mid-img-div {
    width: 80%;
    justify-self: center;
    margin-top: 40px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;

    &>:nth-child(1) {
        width: 40%;
        background-color: #1c2136;
        height: auto;

        &>img {
            object-fit: contain;
            width: 100%;
        }
    }

    &>:nth-child(2) {
        background-color: rebeccapurple;
        width: 60%;
        height: inherit;
        text-align: center;
        font-size: large;
        position: relative;
        &>h2{(2) h3
            position: relative;
            top: 40%;
        }
    }
}



/*Flex div*/
.Mid-flex-pics {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 80%;
    padding-top: 75px;
    justify-content: space-evenly;
    justify-self: center;

    &>div div:nth-child(2){
        margin-top: 15px;
    }

    &>div {
        width: 20%;
        &>div:nth-child(1) {
            border: 4px #4c8f96 solid;
            height: 60%;
            /**Add shadow here at somepoint*/
            &>img {
                object-fit: fill;
                width: 100%;
                height: 100%;
            }
        }
    }
}

/*bot div*/

/*Footer*/